<hr class="grey">
<div class="col-12 phase-three-priority">
  <h3 class="underline scoot-left">Priority List</h3>
  <% priority_rankings.each do |x| %>
    <div class="row">
      <h5 class="<%= bracket(x) %>"><%= x %></h5>
      <% @phase_three_priorities.where(ranking: x).each do |priority| %>
        <div class="col-5">
          <div class="row">
            <%= link_to item_path(priority.item) do %>
              <h5 class="scoot-right <%= item_classification(priority) %>"><%= priority.item.name %></h5>
            <% end %>
            <% if current_user.try(:admin?) %>
              <%= link_to 'X', item_priority_path(item_id: priority.item_id, priority_id: priority.id), method: :delete, data: {confirm: 'Are you sure you want delete this?'}, class: 'btn btn-sm scale-down btn-secondary scoot-right scoot-up' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
