<div class="box col-10 offset-1">
  <h2 class="underline">Melee</h2>
  <div class="row">
    <% @raiders[0].each do |melee| %>
      <div class="col-lg-6">
        <h4>
          <div class="row no-left-margin">
            <%= link_to raider_path(melee.id) do   %>
              <h4 class="<%= melee.class_color %>"><%= melee.name %></h4>
            <% end %>
            &nbsp &nbspTotal Points: <%= melee.net_points %>
          </div> 
          <% if melee.attendances.present? %>
            Last raid:
            <%= melee.attendances.last.notes %> - <%= melee.attendances.last.points %>
          <% end %>
        </h4>
      </div>
    <% end %>
  </div>
  <h2 class="underline">Ranged</h2>
  <div class="row">
    <% @raiders[1].each do |ranged| %>
      <div class="col-lg-6">
        <h4>
          <div class="row no-left-margin">
            <%= link_to raider_path(ranged.id) do   %>
              <h4 class="<%= ranged.class_color %>"><%= ranged.name %></h4>
            <% end %>
            &nbsp &nbspTotal Points: <%= ranged.net_points %>
          </div> 
          <% if ranged.attendances.present? %>
            Last raid:
            <%= ranged.attendances.last.notes %> - <%= ranged.attendances.last.points %>
          <% end %>
        </h4>
      </div>
    <% end %>
  </div>
  <h2 class="underline">Healers</h2>
  <div class="row">
    <% @raiders[2].each do |healer| %>
      <div class="col-lg-6">
        <h4>
          <div class="row no-left-margin">
            <%= link_to raider_path(healer.id) do   %>
              <h4 class="<%= healer.class_color %>"><%= healer.name %></h4>
            <% end %>
            &nbsp &nbspTotal Points: <%= healer.net_points %>
          </div> 
          <% if healer.attendances.present? %>
            Last raid:
            <%= healer.attendances.last.notes %> - <%= healer.attendances.last.points %>
          <% end %>
        </h4>
      </div>
    <% end %>
  </div>
  <h2 class="underline">Friends and Family</h2>
  <div class="row">
    <div class="col-lg-6">
      <h3>DPS</h3>
      <% @raiders[4].each do |dps| %>
      <h4>
        <div class="row no-left-margin">
          <%= link_to raider_path(dps.id) do   %>
            <h4 class="<%= dps.class_color %>"><%= dps.name %></h4>
          <% end %>
          &nbsp &nbspTotal Points: <%= dps.net_points %>
        </div> 
        <% if dps.attendances.present? %>
          Last raid:
          <%= dps.attendances.last.notes %> - <%= dps.attendances.last.points %>
        <% end %>
      </h4>
      <% end %>
    </div>
    <div class="col-lg-6">
      <h3>Healers</h3>
      <% @raiders[3].each do |healer| %>
      <h4>
        <div class="row no-left-margin">
          <%= link_to raider_path(healer.id) do   %>
            <h4 class="<%= healer.class_color %>"><%= healer.name %></h4>
          <% end %>
          &nbsp &nbspTotal Points: <%= healer.net_points %>
        </div> 
        <% if healer.attendances.present? %>
          Last raid:
          <%= healer.attendances.last.notes %> - <%= healer.attendances.last.points %>
        <% end %>
      </h4>
      <% end %>
    </div>
  </div>
  <% if current_user.try(:admin?) %>
    <h2 class="underline">Retired</h2>
    <div class="row">
      <% @raiders[5].each do |retired| %>
        <div class="col-lg-6">
          <h4>
            <div class="row no-left-margin">
              <%= link_to raider_path(retired.id) do   %>
                <h4 class="<%= retired.class_color %>"><%= retired.name %></h4>
              <% end %>
              &nbsp &nbsp Total Points: <%= retired.net_points %>
            </div> 
            <% if retired.attendances.present? %>
              Last raid:
              <%= retired.attendances.last.notes %> - <%= retired.attendances.last.points %>
            <% end %>
          </h4>
        </div>
      <% end %>
    </div>
  <% end %>
</div>