<div class="box col-10 offset-1">
  <div class="row no-left-margin">
    <div class="col-9">  
      <div class="row">  
        <h3 class="<%= @raider.class_color %>">
          <%= @raider.name %>
        </h3>
        &nbsp
        <h3>
          - Total Points: <%= @raider.net_points %>
        </h3>
      </div>
    </div>
    <div class="col-3 text-right">  
      <% if current_user.try(:admin?) %>
        <%= link_to 'No Call - No Show', raider_attendances_path(raider_id: @raider, attendance: {notes: 'No Call - No Show', points: -0.2}), method: :post, data: {confirm: 'Are you this raider did not post in attendance channel?'},class: 'btn btn-secondary' %>
        <%= render partial: 'edit_raider' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>Points earned: <%= @raider.total_points_earned %></h3>
    </div>
    <div class="col-8">
      <h3>Points spent: <%= @raider.total_points_spent %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h3 class="underline">Raids Attended</h3>
      <% @raider.attendances.order(:created_at).each do |attendance| %>
        <div class="row no-left-margin">
          <h4><%= attendance.notes %> - <%= attendance.points %></h4>
          <% if current_user.try(:admin?) %>
            <%= link_to 'X', raider_attendance_path(raider_id: attendance.raider_id, attendance_id: attendance.id), method: :delete, data: {confirm: 'Are you sure you want delete this?'}, class: 'btn btn-sm scale-down btn-secondary scoot-right scoot-up' %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-8">
      <h3 class="underline">Items Won</h3>
      <% @raider.winners.each do |winner| %>
        <div class="row no-left-margin">  
          <h4><%= winner.item.name %> - <%= winner.points_spent %></h4>
          <% if current_user.try(:admin?) %>
            <%= link_to 'X', item_winner_path(item_id: winner.item_id, winner_id: winner.id), method: :delete, data: {confirm: 'Are you sure you want delete this?'}, class: 'btn btn-sm scale-down btn-secondary scoot-right scoot-up' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <hr class="grey">
  <div class="col-12">
    <h3 class="underline scoot-left">Priority List</h3>
    <% priority_rankings.each do |x| %>
      <div class="row">
        <h5><%= x %></h5>
        <% @raider.priorities.where(ranking: x).each do |priority| %>
          <div class="col-5">
            <div class="row">
              <%= link_to item_path(priority.item) do %>
                <h5 class="scoot-right <%= item_classification(priority) %>"><%= priority.item.name %></h5>
              <% end %>
              <% if current_user.try(:admin?) %>
                <%= link_to 'X', item_priority_path(item_id: priority.item_id, priority_id: priority.id), method: :delete, data: {confirm: 'Are you sure you want delete this?'}, class: 'btn btn-sm scale-down btn-secondary scoot-right scoot-up' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
