<div class="row">
  <div class="col-6">
    <h3 class="underline">Tanks:</h3>
    <% @organized_signups[0].each do |signup| %>
      <div class="row no-left-margin">
        <h5 class="<%= signup.user.raider.class_color %>"><%= signup.user.raider.name %></h5>
        <h5>&nbsp- <%= signup.created_at.strftime("%_m/%-d %-H:%M:%S") %></h5>
        <h5>&nbsp&nbspNotes: <%= signup.notes %></h5>
        <% if current_user && current_user == signup.user %>
          <%= link_to 'X', raid_signup_path(id: signup.id, raid_id: @raid.id), method: :delete, data: {confirm: 'Are you sure you want remove this sign up?'}, class: 'btn btn-sm scale-down btn-secondary scoot-right scoot-up' %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-6">
    <h3 class="underline">Healers:</h3>
    <% @organized_signups[1].each do |signup| %>
      <div class="row no-left-margin">
        <h5 class="<%= signup.user.raider.class_color %>"><%= signup.user.raider.name %></h5>
        <h5>&nbsp- <%= signup.created_at.strftime("%_m/%-d %-H:%M:%S") %></h5>
        <h5>&nbsp&nbspNotes: <%= signup.notes %></h5>
        <% if current_user && current_user == signup.user %>
          <%= link_to 'X', raid_signup_path(id: signup.id, raid_id: @raid.id), method: :delete, data: {confirm: 'Are you sure you want remove this sign up?'}, class: 'btn btn-sm scale-down btn-secondary scoot-right scoot-up' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <h3 class="underline">Melee:</h3>
    <% @organized_signups[2].each do |signup| %>
      <div class="row no-left-margin">
        <h5 class="<%= signup.user.raider.class_color %>"><%= signup.user.raider.name %></h5>
        <h5>&nbsp- <%= signup.created_at.strftime("%_m/%-d %-H:%M:%S") %></h5>
        <h5>&nbsp&nbspNotes: <%= signup.notes %></h5>
        <% if current_user && current_user == signup.user %>
          <%= link_to 'X', raid_signup_path(id: signup.id, raid_id: @raid.id), method: :delete, data: {confirm: 'Are you sure you want remove this sign up?'}, class: 'btn btn-sm scale-down btn-secondary scoot-right scoot-up' %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-6">
    <h3 class="underline">Ranged:</h3>
    <% @organized_signups[3].each do |signup| %>
      <div class="row no-left-margin">
        <h5 class="<%= signup.user.raider.class_color %>"><%= signup.user.raider.name %></h5>
        <h5>&nbsp- <%= signup.created_at.strftime("%_m/%-d %-H:%M:%S") %></h5>
        <h5>&nbsp&nbspNotes: <%= signup.notes %></h5>
        <% if current_user && current_user == signup.user %>
          <%= link_to 'X', raid_signup_path(id: signup.id, raid_id: @raid.id), method: :delete, data: {confirm: 'Are you sure you want remove this sign up?'}, class: 'btn btn-sm scale-down btn-secondary scoot-right scoot-up' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <h3 class="underline">DPS Stand-Bys:</h3>
    <% @organized_signups[5].each do |signup| %>
      <div class="row no-left-margin">
        <h5 class="<%= signup.user.raider.class_color %>"><%= signup.user.raider.name %></h5>
        <h5>&nbsp- <%= signup.created_at.strftime("%_m/%-d %-H:%M:%S") %></h5>
        <h5>&nbsp&nbspNotes: <%= signup.notes %></h5>
        <% if current_user && current_user == signup.user %>
          <%= link_to 'X', raid_signup_path(id: signup.id, raid_id: @raid.id), method: :delete, data: {confirm: 'Are you sure you want remove this sign up?'}, class: 'btn btn-sm scale-down btn-secondary scoot-right scoot-up' %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-6">
    <h3 class="underline">Healer Stand-Bys:</h3>
    <% @organized_signups[4].each do |signup| %>
      <div class="row no-left-margin">
        <h5 class="<%= signup.user.raider.class_color %>"><%= signup.user.raider.name %></h5>
        <h5>&nbsp- <%= signup.created_at.strftime("%_m/%-d %-H:%M:%S") %></h5>
        <h5>&nbsp&nbspNotes: <%= signup.notes %></h5>
        <% if current_user && current_user == signup.user %>
          <%= link_to 'X', raid_signup_path(id: signup.id, raid_id: @raid.id), method: :delete, data: {confirm: 'Are you sure you want remove this sign up?'}, class: 'btn btn-sm scale-down btn-secondary scoot-right scoot-up' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>