<div class="box col-10 offset-1">
  <div class="row">
    <div class="col-10"> 
      <h1><%= @raid.name %></h1>
      <h3> - <%= @raid.start_time.month %>/<%= @raid.start_time.day %>/<%= @raid.start_time.year %>&nbsp<%= @raid.start_time.strftime("%r") %></h3>
    </div>
    <% if current_user && current_user.signed_up_for(@raid) %>

    <% else %> 
      <%= link_to 'Sign Up for Raid', raid_signups_path(@raid), method: :post, class: 'btn btn-secondary col-2 btn-margin' %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-6">
      <h3 class="underline">Tanks:</h3>
      <% @raid.signed_up_tanks.each do |signup| %>
          <h5 class="<%= signup.user.raider.class_color %>"><%= signup.user.raider.name %></h5>
      <% end %>
    </div>
    <div class="col-6">
      <h3 class="underline">Healers:</h3>
      <% @raid.signed_up_healers.each do |signup| %>
          <h5 class="<%= signup.user.raider.class_color %>"><%= signup.user.raider.name %></h5>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h3 class="underline">Melee:</h3>
      <% @raid.signed_up_melee.each do |signup| %>
          <h5 class="<%= signup.user.raider.class_color %>"><%= signup.user.raider.name %></h5>
      <% end %>
    </div>
    <div class="col-6">
      <h3 class="underline">Ranged:</h3>
      <% @raid.signed_up_ranged.each do |signup| %>
          <h5 class="<%= signup.user.raider.class_color %>"><%= signup.user.raider.name %></h5>
      <% end %>
    </div>
  </div>
</div>