<div class="box col-10 offset-1">
  <% if @user.raider.nil? %>
    <h1>User Dashboard</h1>
  <% else %>
    <h1><%= link_to @user.raider.name, raider_path(@user.raider) %></h1>
    <h3 class="<%= @user.raider.class_color %>">-<%= @user.raider.which_class %>(<%= @user.raider.role %>)</h3>
  <% end %>
    
  <% if current_user.admin? %>
  <div class="row">  
    <div class="col-lg-6"> 
      <%= render partial: 'create_raider' %>
    </div>
    <div class="col-lg-6">
      <%= render partial: 'connect_raiders_to_users' %>
    </div>
  </div>
  <% if @unapproved_users.present? %>
    <h3 class="underline">Unapproved Users</h3>
      <% @unapproved_users.each do |user| %>
        <div>
          <%= user.char_name %><br />
          <%= user.email %><br />
          <% if user.approved != true %><br />
            <%= link_to "Approve", user_approve_path(user), method: :get, data: {confirm: 'Are you sure you want to approve this character?'}, class: 'btn btn-danger' %>
          <% end %>
          <br />
        </div>
      <% end %>
  <br />
  <br />
  <% end %>  
  <h3 class="underline">Attendance</h3>
    <div class="row no-left-margin"><h5>Raid Notes:</h5><input id="notes"></div>
    <div class="row">
      <div class="col-4">
        <h4 class="underline">Warriors</h4>
        <% @raiders.active.warrior.order(:created_at).each do |raider| %>
          <div class="row no-left-margin attendance-row">
            <div class="col-6 scoot-left"><h5 class="warrior"><%= raider.name %></h5></div>
            <div class="col-6">
              <button data-points="0.1" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.1
              </button>
              <button data-points="0.2" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.2
              </button>
              <button data-points="0.4" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.4
              </button>
              <button data-points="0.6" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.6
              </button>
            </div>
          </div>
        <% end %>
        <h4 class="underline">Rogues</h4>
        <% @raiders.active.rogue.order(:created_at).each do |raider| %>
          <div class="row no-left-margin attendance-row">
            <div class="col-6 scoot-left"><h5 class="rogue"><%= raider.name %></h5></div>
            <div class="col-6">
              <button data-points="0.1" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.1
              </button>
              <button data-points="0.2" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.2
              </button>
              <button data-points="0.4" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.4
              </button>
              <button data-points="0.6" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.6
              </button>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-4">
        <h4 class="underline">Hunters</h4>
        <% @raiders.active.hunter.order(:created_at).each do |raider| %>
          <div class="row no-left-margin attendance-row">
            <div class="col-6 scoot-left"><h5 class="hunter"><%= raider.name %></h5></div>
            <div class="col-6">
              <button data-points="0.1" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.1
              </button>
              <button data-points="0.2" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.2
              </button>
              <button data-points="0.4" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.4
              </button>
              <button data-points="0.6" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.6
              </button>
            </div>
          </div>
        <% end %>
        <h4 class="underline">Mages</h4>
        <% @raiders.active.mage.order(:created_at).each do |raider| %>
          <div class="row no-left-margin attendance-row">
            <div class="col-6 scoot-left"><h5 class="mage"><%= raider.name %></h5></div>
            <div class="col-6">
              <button data-points="0.1" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.1
              </button>
              <button data-points="0.2" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.2
              </button>
              <button data-points="0.4" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.4
              </button>
              <button data-points="0.6" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.6
              </button>
            </div>
          </div>
        <% end %>
        <h4 class="underline">Warlocks</h4>
        <% @raiders.active.warlock.order(:created_at).each do |raider| %>
          <div class="row no-left-margin attendance-row">
            <div class="col-6 scoot-left"><h5 class="warlock"><%= raider.name %></h5></div>
            <div class="col-6">
              <button data-points="0.1" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.1
              </button>
              <button data-points="0.2" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.2
              </button>
              <button data-points="0.4" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.4
              </button>
              <button data-points="0.6" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.6
              </button>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-4">
        <h4 class="underline">Priests</h4>
        <% @raiders.active.priest.order(:created_at).each do |raider| %>
          <div class="row no-left-margin attendance-row">
            <div class="col-6 scoot-left"><h5 class="priest"><%= raider.name %></h5></div>
            <div class="col-6">
              <button data-points="0.1" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.1
              </button>
              <button data-points="0.2" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.2
              </button>
              <button data-points="0.4" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.4
              </button>
              <button data-points="0.6" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.6
              </button>
            </div>
          </div>
        <% end %>
        <h4 class="underline">Shamans</h4>
        <% @raiders.active.shaman.order(:created_at).each do |raider| %>
          <div class="row no-left-margin attendance-row">
            <div class="col-6 scoot-left"><h5 class="shaman"><%= raider.name %></h5></div>
            <div class="col-6">
              <button data-points="0.1" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.1
              </button>
              <button data-points="0.2" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.2
              </button>
              <button data-points="0.4" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.4
              </button>
              <button data-points="0.6" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.6
              </button>
            </div>
          </div>
        <% end %>
        <h4 class="underline">Druids</h4>
        <% @raiders.active.druid.order(:created_at).each do |raider| %>
          <div class="row no-left-margin attendance-row">
            <div class="col-6 scoot-left"><h5 class="druid"><%= raider.name %></h5></div>
            <div class="col-6">
              <button data-points="0.1" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.1
              </button>
              <button data-points="0.2" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.2
              </button>
              <button data-points="0.4" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.4
              </button>
              <button data-points="0.6" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.6
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(".btn-secondary").click(function( event ) {
    var points = $(this).data('points');
    var notes = $('#notes').val()
    var raider = $(this).data('id');
    var raiderName = $(this).data('name');
    var url = `/raiders/${raider}/attendances`
    var payload = {
      attendance: {
        notes: notes,
        points: points
      }};
    $.ajax({
      type: "POST",
      url: url,
      data: payload,
      success: console.log(`${raiderName} earned ${points} for ${notes}`)
    });
  });
</script>