<div class="box col-10 offset-1">
  <h1>User Dashboard</h1>

  <% if current_user.admin? %>
  <% if @unapproved_users.present? %>
    <h3 class="underline">Unapproved Users</h3>
      <% @unapproved_users.each do |user| %>
        <div>
          <%= user.char_name %><br />
          <%= user.email %><br />
          <% if user.approved != true %><br />
            <%= link_to "Approve", user_approve_path(user), method: :get, data: {confirm: 'Are you sure you want to approve this character?'}, class: 'btn btn-danger' %>
          <% end %>
          <br />
        </div>
      <% end %>
  <br />
  <br />
  <% end %>  
  <h3 class="underline">Attendance</h3>
    <div class="row no-left-margin"><h5>Raid Notes:</h5><input id="notes"></div>
    <div class="row">
      <div class="col-4">
        <h4 class="underline">Melee</h4>
        <% melee.each do |raider| %>
          <div class="row no-left-margin attendance-row">
            <div class="col-6 scoot-left"><h5 class="<%= class_color(raider) %>"><%= raider.name %></h5></div>
            <div class="col-6">
              <button data-points="0" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0
              </button>
              <button data-points="0.2" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.2
              </button>
              <button data-points="0.4" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.4
              </button>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-4">
        <h4 class="underline">Ranged</h4>
        <% ranged.each do |raider| %>
          <div class="row no-left-margin attendance-row">
            <div class="col-6 scoot-left"><h5 class="<%= class_color(raider) %>"><%= raider.name %></h5></div>
            <div class="col-6">
              <button data-points="0" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0
              </button>
              <button data-points="0.2" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.2
              </button>
              <button data-points="0.4" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.4
              </button>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-4">
        <h4 class="underline">Healers</h4>
        <% healer.each do |raider| %>
          <div class="row no-left-margin attendance-row">
            <div class="col-6 scoot-left"><h5 class="<%= class_color(raider) %>"><%= raider.name %></h5></div>
            <div class="col-6">
              <button data-points="0" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0
              </button>
              <button data-points="0.2" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.2
              </button>
              <button data-points="0.4" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-sm btn-points btn-secondary">
                0.4
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(".btn-secondary").click(function( event ) {
    var points = $(this).data('points');
    var notes = $('#notes').val()
    var raider = $(this).data('id');
    var raiderName = $(this).data('name');
    var url = `/raiders/${raider}/attendances`
    var payload = {
      attendance: {
        notes: notes,
        points: points
      }};
    $.ajax({
      type: "POST",
      url: url,
      data: payload,
      success: console.log(`${raiderName} earned ${points} for ${notes}`)
    });
  });
</script>