<div class="box col-10 offset-1">
  <h1>User Dashboard</h1>

  <% if current_user.admin? %>
  <% if @unapproved_users.present? %>
    <h3 class="underline">Unapproved Users</h3>
      <% @unapproved_users.each do |user| %>
        <div>
          <%= user.char_name %><br />
          <%= user.email %><br />
          <% if user.approved != true %><br />
            <%= link_to "Approve", user_approve_path(user), method: :get, data: {confirm: 'Are you sure you want to approve this character?'}, class: 'btn btn-danger' %>
          <% end %>
          <br />
        </div>
      <% end %>
  <br />
  <br />
  <% end %>  
  <h3 class="underline">Raiders</h3>
      <input id="notes">
      <% @raider.each do |raider| %>
        <h5><%= raider.name %></h5>
        <button data-points="0" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-secondary">0</button>
        <button data-points="0.2" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-secondary">0.2</button>
        <button data-points="0.4" data-id="<%= raider.id %>" data-name="<%= raider.name %>" type="button" class="btn btn-secondary">0.4</button>
      <% end %>
  <% end %>
</div>

<script type="text/javascript">
  $(".btn-secondary").click(function( event ) {
    var points = $(this).data('points');
    var notes = $('#notes').val()
    var raider = $(this).data('id');
    var raiderName = $(this).data('name');
    var url = `/raiders/${raider}/attendances`
    var payload = {
      attendance: {
        notes: notes,
        points: points
      }};
    $.ajax({
      type: "POST",
      url: url,
      data: payload,
      success: console.log(`${raiderName} earned ${points} for ${notes}`)
    });
  });
</script>