<!-- Button trigger modal -->
<div class="col-2">
  <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#FreeRollOtherRaidersModal">
    Additional Free Rolls
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="FreeRollOtherRaidersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content box">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add a Free Roll</h4>
                
      </div>
        <div class="modal-body"> 
        <div class="row">
          <% @raiders.each do |raider| %>       
            <div class="col-4">
              <button data-raider-id="<%= raider.id %>" data-raider-name="<%= raider.name %>" data-item-id="<%= @item.id %>" data-points-spent="<%= 0 %>" class="btn btn-secondary create-winner btn-sm">
                <%= raider.name %> - Free Roll
            </button>
            </div>
          <% end %>
        </div>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      
    </div>
  </div>
</div>
