<!-- Button trigger modal -->
<div class="col-2">
  <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#FreeRollOtherRaidersModal">
    Additional Free Rolls
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="FreeRollOtherRaidersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content box">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add a Free Roll</h4>
                
      </div>
        <div class="modal-body">
          <h5 class="warrior underline">Warriors</h5>
          <div class="row">
            <% @raiders.active.warrior.each do |raider| %>       
              <% if raider.has_priority_or_has_won_this(@item) %>

              <% else %>
                <div class="col-4">
                  <button data-raider-id="<%= raider.id %>" data-raider-name="<%= raider.name %>" data-item-id="<%= @item.id %>" data-points-spent="<%= 0 %>" class="btn btn-secondary create-winner btn-sm">
                    <%= raider.name %> - Free Roll
                  </button>
                </div>
              <% end %>
            <% end %>
          </div>
          <h5 class="rogue underline">Rogues</h5>
          <div class="row">
            <% @raiders.active.rogue.each do |raider| %>       
              <% if raider.has_priority_or_has_won_this(@item) %>

              <% else %>
                <div class="col-4">
                  <button data-raider-id="<%= raider.id %>" data-raider-name="<%= raider.name %>" data-item-id="<%= @item.id %>" data-points-spent="<%= 0 %>" class="btn btn-secondary create-winner btn-sm">
                    <%= raider.name %> - Free Roll
                  </button>
                </div>
              <% end %>
            <% end %>
          </div>
          <h5 class="hunter underline">Hunters</h5>
          <div class="row">
            <% @raiders.active.hunter.each do |raider| %>       
              <% if raider.has_priority_or_has_won_this(@item) %>

              <% else %>
                <div class="col-4">
                  <button data-raider-id="<%= raider.id %>" data-raider-name="<%= raider.name %>" data-item-id="<%= @item.id %>" data-points-spent="<%= 0 %>" class="btn btn-secondary create-winner btn-sm">
                    <%= raider.name %> - Free Roll
                  </button>
                </div>
              <% end %>
            <% end %>
          </div>
          <h5 class="mage underline">Mages</h5>
          <div class="row">
            <% @raiders.active.mage.each do |raider| %>       
              <% if raider.has_priority_or_has_won_this(@item) %>

              <% else %>
                <div class="col-4">
                  <button data-raider-id="<%= raider.id %>" data-raider-name="<%= raider.name %>" data-item-id="<%= @item.id %>" data-points-spent="<%= 0 %>" class="btn btn-secondary create-winner btn-sm">
                    <%= raider.name %> - Free Roll
                  </button>
                </div>
              <% end %>
            <% end %>
          </div>
          <h5 class="warlock underline">Warlocks</h5>
          <div class="row">
            <% @raiders.active.warlock.each do |raider| %>       
              <% if raider.has_priority_or_has_won_this(@item) %>

              <% else %>
                <div class="col-4">
                  <button data-raider-id="<%= raider.id %>" data-raider-name="<%= raider.name %>" data-item-id="<%= @item.id %>" data-points-spent="<%= 0 %>" class="btn btn-secondary create-winner btn-sm">
                    <%= raider.name %> - Free Roll
                  </button>
                </div>
              <% end %>
            <% end %>
          </div>
          <h5 class="priest underline">Priests</h5>
          <div class="row">
            <% @raiders.active.priest.each do |raider| %>       
              <% if raider.has_priority_or_has_won_this(@item) %>

              <% else %>
                <div class="col-4">
                  <button data-raider-id="<%= raider.id %>" data-raider-name="<%= raider.name %>" data-item-id="<%= @item.id %>" data-points-spent="<%= 0 %>" class="btn btn-secondary create-winner btn-sm">
                    <%= raider.name %> - Free Roll
                  </button>
                </div>
              <% end %>
            <% end %>
          </div>
          <h5 class="shaman underline">Shamans</h5>
          <div class="row">
            <% @raiders.active.shaman.each do |raider| %>       
              <% if raider.has_priority_or_has_won_this(@item) %>

              <% else %>
                <div class="col-4">
                  <button data-raider-id="<%= raider.id %>" data-raider-name="<%= raider.name %>" data-item-id="<%= @item.id %>" data-points-spent="<%= 0 %>" class="btn btn-secondary create-winner btn-sm">
                    <%= raider.name %> - Free Roll
                  </button>
                </div>
              <% end %>
            <% end %>
          </div>
          <h5 class="druid underline">Druids</h5>
          <div class="row">
            <% @raiders.active.druid.each do |raider| %>       
              <% if raider.has_priority_or_has_won_this(@item) %>

              <% else %>
                <div class="col-4">
                  <button data-raider-id="<%= raider.id %>" data-raider-name="<%= raider.name %>" data-item-id="<%= @item.id %>" data-points-spent="<%= 0 %>" class="btn btn-secondary create-winner btn-sm">
                    <%= raider.name %> - Free Roll
                  </button>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
