<div class="col-10 offset-1 box">  
  <h1>Edit <%= @item.name %></h1>
    <%= simple_form_for @item do |f| %>
      <%= f.input :link %>
      <%= f.input :zone, as: :select, collection: Item::ZONES %>
      <%= f.input :priority %>
      <%= f.input :winner %>
      <%= f.input :classification, as: :select, collection: Item::CLASSIFICATIONS %>
      <br />
      
        <%= f.submit 'Edit', class: 'btn btn-secondary' %>
        <button type="button" class="btn btn-secondary float-right">
          <%= link_to 'Close', item_path(@item) %>
        </button>
    <% end %>

</div>