<div class="col-10 offset-1 box">
  <div class="row">
    <div class="col-10">
      <h2><a href="<%= @item.link %>" class="color"><%= @item.name %></a></h2>
      <h5>- <%= @item.zone %></h5>
    </div>
    <% if current_user.try(:admin?) %>
      <div class="col-2">
        <%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-secondary float-right' %>
      </div>
    <% end %>
  </div>
  <br />
  <h3 class="underline">Priority List</h3>
  <h5><%= @item.priority %></h5>
  <br />
  <h3 class="underline">Winners</h3>
  <% if @item.winners.present? %>
    <% @item.winners.each do |winner| %>
      <h5><%= winner.raider.name %></h5>
    <% end %>
  <% end %>
  <br />
  <h3 class="underline">Priorities</h3>
  <% ordered_list_of_priorities(@item).each do |priority| %>
    <h5><%= priority %></h5>
  <% end %>
  <% if current_user.try(:admin?) %>
    <% @item.priorities.order(ranking: :desc).each do |priority| %>
      <% if won_that_item(@item, priority) %>
      <% else %>
        <button data-raider-id="<%= priority.raider.id %>" data-raider-name="<%= priority.raider.name %>" data-item-id="<%= @item.id %>" data-points-spent="<%= priority.points_worth %>" class="btn btn-secondary create-winner">
          <%= priority.raider.name %> - <%= priority.points_worth.to_s %>
        </button>
      <% end %>
    <% end %>


    <hr class="grey">

    <h3 class="underline">Assign Rankings</h3>
    <div class="row no-left-margin"><h5>Ranking:</h5><input id="rank" type="number"></div>
    <br />
    <div class="row">
      <div class="col-4">
        <h4 class="underline">Melee</h4>
        <% melee_without_priority_assigned(@item).each do |raider| %>
          <div class="row margin-top">
            <h4 class="item-raiders col-6 <%= class_color(raider) %>"><%= raider.name %></h4>       
            <button data-raider-id="<%= raider.id %>" data-item-id="<%= @item.id %>" class="btn btn-sm btn-secondary create-priority col-6">
              Create Priority
            </button> 
          </div>
        <% end %>
      </div>
      <div class="col-4">
        <h4 class="underline">Ranged</h4>
        <% ranged_without_priority_assigned(@item).each do |raider| %>
          <div class="row margin-top">
            <h4 class="item-raiders col-6 <%= class_color(raider) %>"><%= raider.name %></h4>       
            <button data-raider-id="<%= raider.id %>" data-item-id="<%= @item.id %>" class="btn btn-sm btn-secondary create-priority col-6">
              Create Priority
            </button> 
          </div>
        <% end %>
      </div>
      <div class="col-4">
        <h4 class="underline">Healers</h4>
        <% healers_without_priority_assigned(@item).each do |raider| %>
          <div class="row margin-top">
            <h4 class="item-raiders col-6 <%= class_color(raider) %>"><%= raider.name %></h4>       
            <button data-raider-id="<%= raider.id %>" data-item-id="<%= @item.id %>" class="btn btn-sm btn-secondary create-priority col-6">
              Create Priority
            </button> 
          </div>
        <% end %>
      </div>
    </div>

  <% end %>

  <%# render partial: 'comments' %>
  
</div>

<script type="text/javascript">
  $(".create-priority").click(function( event ) {
    var rank = $('#rank').val();
    var item = $(this).data('item-id');
    var raider = $(this).data('raider-id');
    var url = `/items/${item}/priorities`
    var payload = {
      priority: {
        ranking: rank,
        item_id: item,
        raider_id: raider
      }};
    $.post(url, payload);
  });
  $(".create-winner").click(function( event ) {
    var points_spent = $(this).data('points-spent');
    var item = $(this).data('item-id');
    var raider = $(this).data('raider-id');
    var raider_name = $(this).data('raider-name');
    var url = `/items/${item}/winners`;
    var payload = {
      winner: {
        points_spent: points_spent,
        item_id: item,
        raider_id: raider
      }};
    $.ajax({
      type: "POST",
      url: url,
      data: payload,
      beforeSend:function(){
         return confirm(`Are you sure ${raider_name} won this item?`);
      },
    });
  });
</script>
