<div class="col-10 offset-1 box">
  <div class="row">
    <div class="col-10">
      <h2><a href="<%= @item.link %>" class="color"><%= @item.name %></a></h2>
      <h5>- <%= @item.zone %></h5>
    </div>
    <% if current_user.try(:admin?) %>
      <div class="col-2">
        <%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-secondary float-right' %>
      </div>
    <% end %>
  </div>
  <br />
  <h3 class="underline">Primary Class</h3>
    <h4><%= @item.priority %></h4>
  <br />
  <% if @item.winners.present? %>
  <h3 class="underline">Winners</h3>
    <% @item.winners.each do |winner| %>
      <h5><%= link_to winner.raider.name, raider_path(winner.raider_id) %></h5>
    <% end %>
  <% end %>
  <br />
    <div class="row">
      <div class="col-8"><h3 class="underline">Priority List</h3></div>
      <% if current_user.try(:admin?) %>
        <%= render partial: 'free_roll_other_raiders' %>
      <% end %>
    </div>
    <% @item.ordered_list_of_priorities.each do |priority| %>
      <div class="row">
        <div class="col-3"><h5><%= link_to priority.raider.name, raider_path(priority.raider_id) %> - <%= priority.total_item_value_for_raider %></h5></div>
        <% if current_user.try(:admin?) %>
          <div class="col-3">
            <button data-raider-id="<%= priority.raider.id %>" data-raider-name="<%= priority.raider.name %>" data-item-id="<%= @item.id %>" data-points-spent="<%= priority.points_worth %>" class="btn btn-secondary create-winner btn-sm">
              <%= priority.raider.name %> - <%= priority.points_worth.to_s %>
            </button>
          </div>
          <div class="col-3">
            <button data-raider-id="<%= priority.raider.id %>" data-raider-name="<%= priority.raider.name %>" data-item-id="<%= @item.id %>" data-points-spent="<%= 0 %>" class="btn btn-secondary create-winner btn-sm">
              <%= priority.raider.name %> - Free Roll
            </button>
          </div>
        <% end %>
      </div>
    <% end %>
    <br />
    

    <% if current_user.try(:admin?) %>
    <hr class="grey">

    <h3 class="underline">Assign Rankings</h3>
    <div class="row no-left-margin"><h5>Ranking:</h5><input id="rank" type="number"></div>
    <br />
    <div class="row">
      <div class="col-4">
        <h4 class="underline">Warriors</h4>
        <% @raiders.active.warrior.each do |raider| %>
          <% if raider.has_priority_or_has_won_this(@item) %>

          <% else %>
            <div class="row margin-top">
              <h4 class="item-raiders col-6 warrior"><%= raider.name %></h4>       
              <button data-raider-id="<%= raider.id %>" data-item-id="<%= @item.id %>" class="btn btn-sm btn-secondary create-priority col-6">
                Create Priority
              </button> 
            </div>
          <% end %>
        <% end %>
        <h4 class="underline">Rogues</h4>
        <% @raiders.active.rogue.each do |raider| %>
          <% if raider.has_priority_or_has_won_this(@item) %>

          <% else %>
            <div class="row margin-top">
              <h4 class="item-raiders col-6 rogue"><%= raider.name %></h4>       
              <button data-raider-id="<%= raider.id %>" data-item-id="<%= @item.id %>" class="btn btn-sm btn-secondary create-priority col-6">
                Create Priority
              </button> 
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-4">
        <h4 class="underline">Hunters</h4>
        <% @raiders.active.hunter.each do |raider| %>
          <% if raider.has_priority_or_has_won_this(@item) %>

          <% else %>
            <div class="row margin-top">
              <h4 class="item-raiders col-6 hunter"><%= raider.name %></h4>       
              <button data-raider-id="<%= raider.id %>" data-item-id="<%= @item.id %>" class="btn btn-sm btn-secondary create-priority col-6">
                Create Priority
              </button> 
            </div>
          <% end %>
        <% end %>
        <h4 class="underline">Mages</h4>
        <% @raiders.active.mage.each do |raider| %>
          <% if raider.has_priority_or_has_won_this(@item) %>

          <% else %>
            <div class="row margin-top">
              <h4 class="item-raiders col-6 mage"><%= raider.name %></h4>       
              <button data-raider-id="<%= raider.id %>" data-item-id="<%= @item.id %>" class="btn btn-sm btn-secondary create-priority col-6">
                Create Priority
              </button> 
            </div>
          <% end %>
        <% end %>
        <h4 class="underline">Warlocks</h4>
        <% @raiders.active.warlock.each do |raider| %>
          <% if raider.has_priority_or_has_won_this(@item) %>

          <% else %>
            <div class="row margin-top">
              <h4 class="item-raiders col-6 warlock"><%= raider.name %></h4>       
              <button data-raider-id="<%= raider.id %>" data-item-id="<%= @item.id %>" class="btn btn-sm btn-secondary create-priority col-6">
                Create Priority
              </button> 
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-4">
        <h4 class="underline">Priests</h4>
        <% @raiders.active.priest.each do |raider| %>
          <% if raider.has_priority_or_has_won_this(@item) %>

          <% else %>
            <div class="row margin-top">
              <h4 class="item-raiders col-6 priest"><%= raider.name %></h4>       
              <button data-raider-id="<%= raider.id %>" data-item-id="<%= @item.id %>" class="btn btn-sm btn-secondary create-priority col-6">
                Create Priority
              </button> 
            </div>
          <% end %>
        <% end %>
        <h4 class="underline">Shamans</h4>
        <% @raiders.active.shaman.each do |raider| %>
          <% if raider.has_priority_or_has_won_this(@item) %>

          <% else %>
            <div class="row margin-top">
              <h4 class="item-raiders col-6 shaman"><%= raider.name %></h4>       
              <button data-raider-id="<%= raider.id %>" data-item-id="<%= @item.id %>" class="btn btn-sm btn-secondary create-priority col-6">
                Create Priority
              </button> 
            </div>
          <% end %>
        <% end %>
        <h4 class="underline">Druids</h4>
        <% @raiders.active.druid.each do |raider| %>
          <% if raider.has_priority_or_has_won_this(@item) %>

          <% else %>
            <div class="row margin-top">
              <h4 class="item-raiders col-6 druid"><%= raider.name %></h4>       
              <button data-raider-id="<%= raider.id %>" data-item-id="<%= @item.id %>" class="btn btn-sm btn-secondary create-priority col-6">
                Create Priority
              </button> 
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  <% end %>

  <%# render partial: 'comments' %>
  
</div>

<script type="text/javascript">
  $(".create-priority").click(function( event ) {
    var rank = $('#rank').val();
    var item = $(this).data('item-id');
    var raider = $(this).data('raider-id');
    var url = `/items/${item}/priorities`
    var payload = {
      priority: {
        ranking: rank,
        item_id: item,
        raider_id: raider
      }};
    $.post(url, payload);
  });
  $(".create-winner").click(function( event ) {
    var points_spent = $(this).data('points-spent');
    var item = $(this).data('item-id');
    var raider = $(this).data('raider-id');
    var raider_name = $(this).data('raider-name');
    var url = `/items/${item}/winners`;
    var payload = {
      winner: {
        points_spent: points_spent,
        item_id: item,
        raider_id: raider
      }};
    $.ajax({
      type: "POST",
      url: url,
      data: payload,
      beforeSend:function(){
         return confirm(`Are you sure ${raider_name} won this item?`);
      },
    });
  });
</script>
