<div class="col-10 offset-1 box">
  <div class="row">
    <div class="col-10">
      <h2><a href="<%= @item.link %>" class="color"><%= @item.name %></a></h2>
      <h5>- <%= @item.zone %></h5>
    </div>
    <% if current_user.try(:admin?) %>
      <div class="col-2">
        <%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-secondary float-right' %>
      </div>
    <% end %>
  </div>
  <br />
  <div class="row">  
    <div class="col-xl-8">  
      <h3 class="underline">Primary Class:</h3>
      <h4><%= @item.priority %></h4>
    </div>
    <div class="col-xl-4">
      <h3 class="underline">Category:</h3>
      <h4><%= @item.category %></h4>
    </div>
  </div>
  <br />
  <% if @item.winners.present? %>
  <h3 class="underline">Winners:</h3>
    <% @item.winners.each do |winner| %>
      <h5><%= link_to winner.raider.name, raider_path(winner.raider_id) %></h5>
    <% end %>
  <% end %>
  <br />
  
  <% if @item.phase_3? %>
    <%= render partial: 'p3_ordered_list_of_priorities' %>
  <% end %>  
    
  <br />

  <% if @item.phase_3? %>
    <%= render partial: 'p3_priority_assignment' %>
  <% end %>

  <% if current_user.try(:admin?)  %>
    <hr class="grey">
    <%= render partial: 'p5_ordered_list_of_priorities' %>
  <% end %>  
  
</div>

<script type="text/javascript">
  $(".create-winner").click(function( event ) {
    var points_spent = $(this).data('points-spent');
    var item = $(this).data('item-id');
    var raider = $(this).data('raider-id');
    var raider_name = $(this).data('raider-name');
    var url = `/items/${item}/winners`;
    var payload = {
      winner: {
        points_spent: points_spent,
        item_id: item,
        raider_id: raider
      }};
    $.ajax({
      type: "POST",
      url: url,
      data: payload,
      beforeSend:function(){
         return confirm(`Are you sure ${raider_name} won this item?`);
      },
    });
  });
</script>
