<div class="col-10 offset-1 text-center">
  <h1 class="category"><%= @category.name %></h1>
</div>
<h1 class="col-10 offset-1 underline zones">Molten Core</h1>
<% @category.items.where(:zone => "Molten Core").each do |item| %>
  <div class="col-10 offset-1 box">
    <div class="row">
      <div class="col-8">
        <h2><%= link_to item.name, item_path(item), class: 'color'  %></h2>
        <h4><%= item.priority %></h4>
      </div>
    </div>
  </div>
<% end %>
<br />

<h1 class="col-10 offset-1 underline zones">Onyxia</h1>
<% @category.items.where(:zone => "Onyxia").each do |item| %>
  <div class="col-10 offset-1 box">
    <h2><%= link_to item.name, item_path(item), class: 'color'  %></h2>
    <h4><%= item.priority %></h4>
  </div>
<% end %>
<br />

<h1 class="col-10 offset-1 underline zones">Leftovers</h1>
<% @category.items.where(:zone => nil).each do |item| %>
  <div class="col-10 offset-1 box">
    <h2><%= link_to item.name, item_path(item), class: 'color'  %></h2>
    <h4><%= item.priority %></h4>
  </div>
<% end %>
<br />